* {
  margin: 0;
  padding: 0;
  font-family: Roboto, HelveticaNeue, Arial, sans-serif;
}
:root {
  background: black;
}
body,
head {
  background-image: url(./images/chatbg01.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 1000px;
  opacity: 0.9;
}
.heading {
  color: white;
  text-align: center;
  height: auto;
  padding: 10px;
}
a {
  color: white;
}
a:hover {
  color: red;
}
a {
  text-decoration: none;
}
.container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 0;
  padding: 20px 40px;
}
.container a {
  padding-right: 20px;
}
.container input[type="submit"] {
  padding: 10px;
  background-color: lightgrey;
  border-radius: 8px;
  border: 1px white solid;
  line-height: 1.6em;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 1px 0 black;
  opacity: 0.9;
}
.container input[type="submit"]:hover {
  color: red;
}
.head h2 {
  color: white;
  padding: 20px 20%;
}
/* form */
.content {
  color: white;
  padding: 10px 20%;
}
.content input[type="text"],
input[type="email"],
input[type="password"] {
  padding-left: 10px;
  border-radius: 8px;
  font-size: 15px;
  height: 30px;
  color: black;
  background-color: lightgrey;
}
.f-name,
.user-Id,
.email-Id,
.p-word,
.click {
  width: 100px;
  padding: 20px 20px 0;
}
.condition {
  padding: 20px 20px 0;
  width: 100%;
}
.condition li {
  list-style-type: none;
}
.click input[type="submit"] {
  font-weight: bold;
  font-size: 18px;
  padding: 8px 15px;
  background-color: blue;
  color: white;
  border-radius: 8px;
  border: 1px black solid;
  cursor: pointer;
  box-shadow: 0 1px 0 black;
}
.click input[type="submit"]:hover {
  color: red;
}
